.flip-card-game {
	display: flex;
	width: 100%;
	justify-content: center;
	/*overflow: auto;*/
}

.flip-card-game>ul {
	display: flex; /* Neccessary to ensure all cards are the same height (defaulted to the card with the most content) */
	display: -webkit-flex;
	display: -moz-flex;
	flex-direction: row;
	flex-wrap: wrap;
	/*justify-content: center;*/
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.flip-card-game li.card-list-item {
	display: block;
	float: left;
	margin: 30px 5px 30px 5px; /* Need lots of top and bottom margin here for when the cards flip so that they don't overlap content when they stretch outside of the container due to the perspective/animation properties */
	padding: 0 !important;

	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.flip-card-game .flip-card,
.flip-card-game .flip-card .card-back,
.flip-card-game .flip-card .card-front {
	height: 100%; /* Neccessary to ensure all cards are the same height (defaulted to the card with the most content) */
	margin: auto;
	text-align: center;
	/*justify-content:center;*/
	width: 9.6em;
	/*height: 13.0em;*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.flip-card-game .flip-card {
	/*display: inline-block;*/
	/*position: relative;*/
	/*flex: 1;*/
	/*margin: 1em;*/
	display: grid; /* Using grid as an alternative to stack the cards 'front' and 'back' instead of using absolute positioning so that the height of the container retains the height of the content of the longest card */
	grid-template-columns: auto; /* 1 column per card (stack front and back) */
	/*z-index: 1;*/
	outline: none;
	padding: 0;
	background: 0;
	-webkit-perspective: 35em; /*The perspective property defines how far the object is away from the user. So, a lower value will result in a more intensive 3D effect than a higher value.*/
	-moz-perspective: 35em;
	perspective: 35em;
}

.flip-card-game .flip-card .card-back,
.flip-card-game .flip-card .card-front {
	grid-row-start: 1;
	grid-column-start: 1;
	/*position: absolute;*/
	top: 0;
	left: 0;
	background-size: cover;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 6px;
	-webkit-backface-visibility: hidden; /* This hides the div when it's flipped over onto it's 'backface' */
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: -webkit-transform 0.6s;
	-moz-transition: -moz-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

/* Center the image to the card. This will make the image the full size of the card and "crop" the image left and right ends if necessary */
.flip-card-game .flip-card .card-back .card-content img,
.flip-card-game .flip-card .card-front .card-content img {
	/*top: 0;*/
	/*left: 0;*/
	/*display: block;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	/*object-fit: cover;*/
	/*object-position: center;*/
	margin-left: 50%; /* 50% of the *parent* element (card-content div) */
	transform: translateX(-50%); /* 50% relative to the *same* element. (image width) */
	/*width: 100%;*/
}

.flip-card-game .flip-card .card-front {
/*	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	flex-flow: column;*/
	/*height: 100%;*/
	/*position: relative;*/
	/*z-index: 2;*/
	cursor: pointer;
	background-color: #DDDCDC;
	border: 2px solid #797676;
}

.flip-card-game .flip-card .card-back {
	/*display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	flex-flow: column;
	height: 100%;*/
	/*position: absolute;*/ /* This is needed to keep the back of the card "underneath" the front of the card, instead of below it */
	/*z-index: 3;*/
	cursor: pointer;
	text-align: center;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	-ms-transform: scale(0, 1.1);
	background-color:#D0E0D6;
	border: 2px solid #40845A;
}

.flip-card-game .flip-card.flipped .card-back {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-ms-transform: scale(1, 1);
}

.flip-card-game .flip-card.flipped .card-front {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-ms-transform: scale(0, 1.1);
}

/* Create and position an invisible white rectangle over top of the cards and hide it. This gets it ready for the hover state below */
.flip-card-game .flip-card .card-front:before,
.flip-card-game .flip-card .card-back:before {
    position: absolute;
    display: block;
    width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0;
	content: "";

    /*font-style: normal;*/
    /*font-variant: normal;*/
    /*text-rendering: auto;*/
    /*-webkit-font-smoothing: antialiased;*/
	/*font-family: "Font Awesome 5 Free";*/
	/*font-weight: 600;*/
	/*content: "\f2ea";*/ /*font-weight needs to be 600 for this icon to appear*/
	/*content: "\f0e2";*/
	/*color:  red;*/
	/*font-size: 3em;*/
    /*line-height: 6em;*/
}

/* Show 20% of the white rectangle above on hover */
.flip-card-game .flip-card .card-front:hover:before, 
.flip-card-game .flip-card .card-back:hover:before {
	opacity: .2;
}

.flip-card-game .flip-card .card-front:after {
	content: "";
	display: block;
	position: absolute;
	top: 97%; /* 97% */
	height: 15%; /* 15% */
	width: 100%;
	-webkit-transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
	transform: rotateX(90deg);
	background-image: -webkit-radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
	background-image: -moz-radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
	background-image: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

.activity-instruction {
	font-size: 14pt;
	text-align: center;
}

.card-content {
	overflow:auto; /* Crops the left and right ends of the image */
	/*padding: 0.25em;*/
}

.card-question-title:empty {
	display: none;
}

.card-text {
	padding: 0.25em;
}

/* Hide card-text div if there is no text to display (image or alt media card type)*/
.card-text:empty {
	display: none;
}

.card-question-title {
	width: 100%;
	text-align: center;
	font-weight: bold;
	display: block;
	/*color: #797676;*/
	color: #ffff;
	background-color: #797676;
	padding: 0.5em 0.25em;
    margin-bottom: 0rem;
}

.card-answer-title {
	width: 100%;
	text-align: center;
	font-weight: bold;
	display: block;
	/*color: #797676;*/
	color: #ffff;
	background-color: #40845A;
	padding: 0.5em 0em;
    margin-bottom: 0rem;
}

